[mysqld]
server-id=1

# Whether to resolve host names when checking client connections. If this variable is OFF, mysqld resolves host names when checking client connections. If it is ON, mysqld uses only IP numbers; in this case, all Host column values in the grant tables must be IP addresses. See Section 7.1.12.3, “DNS Lookups and the Host Cache”.
skip-name-resolve

user=mysql

# ----------------------------------------------
# Enable the binlog for replication & CDC
# ----------------------------------------------

# This system variable sets the binary logging format, and can be any one of STATEMENT, ROW, or MIXED. (See Section 19.2.1, “Replication Formats”.)
binlog-format=row
log_bin=mysql-bin

# Sets the binary log expiration period in seconds. After their expiration period ends, binary log files can be automatically removed. Possible removals happen at startup and when the binary log is flushed. Log flushing occurs as indicated in Section 7.4, “MySQL Server Logs”.
binlog-expire-logs-seconds=604800

# If a write to the binary log causes the current log file size to exceed the value of this variable, the server rotates the binary logs (closes the current file and opens the next one). The minimum value is 4096 bytes. The maximum and default value is 1GB. Encrypted binary log files have an additional 512-byte header, which is included in max_binlog_size.  
max_binlog_size=100M